* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.background {
  background-image: url("wood.jpg");
  background-repeat: repeat;
}

header {
  padding: 40px;
}
.immagine_iniziale {
  background-image: url("bosco.jpg");
  width: 100%;
  height: 500px;
  position: relative;
  border: 20px solid white;
}

.natural {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  display:inline-block;
  color: white;
  border: 5px solid white;
}

.navibar ul{
background-color: #52361b;
text-align: center;


}

.navibar ul li {
  display: inline-block;
  background-color: #52361b;
  /* border-right: 2px solid black; */

}

.navibar ul:last-child {
  border-left: none;
}

.navibar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.navibar li a:hover {
  background-color: #2b1d0e;
}

h2 span img {
  width: 20px;
  height: auto;
}

.colonne {
/* margin-top: 2%;
margin-left: 2% */
}

.colonna {
  float: left;
  background-color: white;
  padding: 30px;
  margin-top: 40px;
  margin-right: 40px;
}

.sinistra {
  width: 22%;
}

.sinistra ul li {
  padding: 10px;
  margin-left: 1px;
  list-style-type: none;
}

.sinistra h2 {
  padding-bottom: 20px;
}

.sinistra ul li a,
.second_p a,
.destra a  {
  color: yellowgreen;
  text-decoration: none;
}

.sinistra li a:hover {
  background: none;
}

header:after {
content: "";
display: table;
clear: both;
}

.centrale {
  width: 47%;
}

.centrale div {
  font-size: 50px;
  font-weight: bold;
  color: #52361b;
  padding-bottom: 30px;
}

.second_p {
  padding-top: 10px;
}

.destra {
  width:26%;
  margin-right: 0px;
}


.destra h2 {
color: #52361b;
padding-bottom: 30px;
}

#sotto{
  margin-top:30px;
}
